@import 'bootstrap/dist/css/bootstrap.css';
.csv_file_container {
    min-height:100vh; 
    /* margin:4%; */
    background-color: #242326;
    padding: 5%;
}
.title h1 {
    font-size: 3.5rem;
    color: #3B8C57;
    font-family: fangsong;

}

.container {
    min-height: 100vh;
    background-color: white;
    padding: 2%;
}

.upload_file {
    padding-left: 2rem;
    padding: 3%;
    background-color: #46A667;
    color: white;
}
.details_card {
    background-color: white;
}
.sub_title {
    color: #3B8C57 ;
}
.house_owner_container {
    background-color: #A6A6A6 !important;
}